/* * {
    `otf-font-awesome` is required to be installed for icons
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
 } */

window#waybar {
    background: linear-gradient(180deg, rgba(240, 240, 240, 0.9) 0%, rgba(246, 246, 246, 0.9) 21.63%, rgba(248, 248, 248, 0.9) 38.46%, rgba(216, 216, 216, 0.9) 91.35%, rgba(240, 240, 240, 0.9) 100%);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1), 1px 3px 4px rgba(0, 0, 0, 0.2), 0px 1px 0px #656565, inset 1px 1px 0px 1px rgba(255, 255, 255, 0.4);
    border-radius: 2px;
    color: #000;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -3px transparent; */
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    /* box-shadow: inset 0 -3px #ffffff; */
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #a37800;
}

#workspaces button {
    font-family: "Cantarell";
    font-weight: bold;
    background-color: transparent;
    color: #000000;
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 0;
}

#workspaces .workspace-label {
    min-width: 24px;
    font-family: DINish;
    box-shadow: inset -1px 0px 0px rgba(0, 0, 0, 0.4);
}

#workspaces .taskbar-window {
    background: rgba(240, 240, 240, 0.5);
    box-shadow: inset 1px 0px 0px rgba(255, 255, 255, 0.7), inset -1px 0px 0px rgba(0, 0, 0, 0.4);
    font-weight: normal;
    padding-left: 8px;
    padding-right: 8px;
    font-family: "Open Sans";
    font-size: 12px;
}

#workspaces button.visible .taskbar-window,
#workspaces button.visible .workspace-label {
    border-color: white;
}

#workspaces .taskbar-window.active {
    background: linear-gradient(180deg, rgba(208, 208, 208, 0.5) 22.12%,
        rgba(234, 234, 234, 0.5) 47.12%, rgba(234, 234, 234, 0.5) 67.31%, rgba(240, 240, 240, 0.5) 100%);
    box-shadow: inset -2px 2px 3px rgba(0, 0, 0, 0.45), inset 1px -1px 0px rgba(255, 255, 255, 0.5);
}

#workspaces .taskbar-window image {
    margin-top: 1px;
}

#workspaces button.urgent {
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #000;
}

/* #window,
#workspaces {
    margin: 0 4px;
} */

#window {
    padding-right: 8px;
    box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.7), inset -1px 0px 0px rgba(0, 0, 0, 0.4);
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    /* background-color: #64727D; */
    color: #000;
}

#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#cpu {
    /* background-color: #2ecc71; */
    color: #000000;
}

#memory {
    /* background-color: #9b59b6; */
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    /* background-color: #2980b9; */
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    /* background-color: #f1c40f; */
    color: #000000;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    /* background-color: #f0932b; */
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    /* background-color: #2980b9; */
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
